@font-face {
    font-family: 'Bad Script';
    font-weight: 400;
    font-display: swap;                     
    src: 
        url('../fonts/bad-script-v16-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/bad-script-v16-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 400;
    font-display: swap;                     
    src: 
        url('../fonts/open-sans-v29-latin_cyrillic-regular.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin_cyrillic-regular.woff') format('woff');
}
@font-face {
    font-family: 'Open Sans';
    font-weight: 700;
    font-display: swap;                     
    src: 
        url('../fonts/open-sans-v29-latin_cyrillic-700.woff2') format('woff2'),
        url('../fonts/open-sans-v29-latin_cyrillic-700.woff') format('woff');
}

html {
    box-sizing: border-box;
}
*{
    box-sizing: inherit;
}
body {
    font-family: 'Open Sans';
    background: #FFF1F8;
    display: flex;
    flex-direction: column;
    height: 100vh;
}
.women {
    background-color: #FFF1F8;
}
.men{
    background-color: #EFF9FE;
}
button {
    cursor: pointer;
}
.container {
    display: flex;
    max-width: 1300px;
    padding: 0 20px;
    margin: 0 auto;
}
.header {
    position: relative;
    z-index: 1;
    padding: 28px 0;
    background: #FFFFFF;
    box-shadow: 0px 1px 20px rgba(72, 3, 38, 0.07);
}
.header__container {
    justify-content: space-between;
    align-items: center;
    gap: 30px;
}
.header__button-change{
    width: 300px;
    height: 65px;
    border-radius: 30px;
    margin-right: 30px;
    font-family: 'Open Sans';
    color: #FFFFFF;
    font-size: 18px;
    font-weight: 700;
    border: none;
    transition: all 0.2s ease;
    
}
.header__button-change:hover{
    transform: translateY(-3px);
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.2);
}
.header__button-change:last-child{
    margin-right: 0;
}
.men .header__button-change {
    background-color: #1178B2;
}
.women .header__button-change {
    background-color: #C300C7;
}
.header__button-gender{
    width: 60px;
    height: 60px;
    box-shadow: 0px 0px 24px 4px rgba(0, 0, 0, 0.04);
    border-radius: 10px;
    border: none;
    transition: all 0.2s ease;
}
.header__button-gender_men{
    background: url('../img/men.svg') center no-repeat;
}
.header__button-gender_women{
    background: url('../img/women.svg') center no-repeat;;
    margin-left: 20px;
}
.header__button-gender_men:hover{
    background-color:#EFF9FE;
    transform: translateY(-3px);
}
.header__button-gender_women:hover{
    background-color:#FFF1F8;
    transform: translateY(-3px);
}
.men .header__button-gender_men{
    border: solid 1px #1178B2;
}
.women .header__button-gender_women{
    border: solid 1px #C300C7;
}
img{
    max-width: 100%;
    height: auto;
}
p{
    margin: 0;
}
ul{
    margin: 0;
    padding: 0;
    list-style: none;
}
.card{    
    flex-grow: 1;
    padding: 15px 0;
    display: flex;
    align-items: center;
}
.women .card__text {
    font-family: 'Bad Script';
}
.men .card__text {
    font-family: 'Open Sans';
    font-weight: 700;
}
.card__wrapper{
    position: relative;
    display: flex;
    margin: auto;
    box-shadow: 0px 0px 50px rgba(96, 4, 50, 0.23);
    font-size: 3px;
}
.card__text{
    font-family: 'Bad Script';
    line-height: 1.6;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    font-size: max(3em, min(calc(100vw * 3 / (840 / 3 / 2)), 6em));    /*! вычисление адаптивного размера текста//отзывкивый размер текста */
    font-display: swap;                       
}
.footer{
    padding: 17px 0;
}
.footer__container{
    display: flex;
    justify-content: space-between;
    align-items: center;
}
.footer__contacts {
    display: flex;
    flex-direction: column;
    gap: 8px;
}
.footer__link-contacts{
    text-decoration: none;
}
.footer__social{
    display: flex;
    gap: 16px;
}
.footer__item {
    transition: all 0.3s ease;
}
.footer__item:hover{
    opacity: 0.6;
}
.men path{                                                            /* !изменение цвета svg */
    fill: #1178B2;
}
.women path{
    fill: #C300C7;
}

@media(max-width: 880px) {
    .container{
        padding: 0 10px;
    }
    .header__button-wrapper{
        display: flex;
        flex-wrap: wrap;
        gap: 30px;
    }
    .header__button-change{
        width: 220px;
        height: 45px;
        font-size: 14px;
    }
    .header__button-gender{
        width: 40px;
        height: 40px;
        background-size: 30px;
    }
    .header__button-gender_women{
        margin-left: 0;
    }

    .header__button-change:hover{
        transform: none;
        box-shadow: none;
    }
    .header__button-gender_men:hover{
        background-color:#FFFFFF;
        transform: none;
    }
    .header__button-gender_women:hover{
        background-color:#FFFFFF;
        transform: none;
    }
    .footer__item:hover{
        opacity: 1;
    }
}
@media(max-width: 480px){
    .footer__container{
        flex-direction: column;
        gap: 30px;
    }
    .footer__contacts{
        order: 1;
    }
}